---
const { title } = Astro.props;
import Header from "../componets/Header.astro";
import Footer from "../componets/Footer.astro";
const { hero_img, hero_tekst, hero_tekst_green, hasImg = false } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/public/img_karrusel/karrusel_logo_hvid.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="/general.css" />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
  </head>
  <body>
    <Header />
    <div class="billede_med_tekst">
      {hasImg && <img src={hero_img} alt="Hero image" class="hero_img" />}
      <h1 class="hero_tekst">{hero_tekst}</h1>
      <h2 class="header_green">{hero_tekst_green}</h2>
    </div>
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  body {
    background-color: var(--backgroundcolor);
  }

  main {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
  }

  main {
    min-height: 100vh;
  }

  /* Billede med tekst */
  .billede_med_tekst {
    display: grid;
    place-items: center;
    position: relative;
  }
  .hero_img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    min-width: 100%;
  }

  .hero_tekst {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: #fff;
  }

  .header_green {
    position: absolute;
    top: 52%;
    left: 52%;
  }

  @media (min-width: 800px) {
    main {
      margin-top: 70px;
      padding: 0 0 150px 0;
    }
  }
</style>
